## SQL Connection

1. MySQL : Use the mysql-connector-python package or similar to connect to a MySQL database.

In [ ]:
pip install mysql-connector-python  # or pip install PyMySQL

In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host="hostname",
    user="username",
    password="password",
    database="databasename"
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM table_name")
results = cursor.fetchall()

ModuleNotFoundError: No module named 'mysql'

2. PostgreSQL: Use the psycopg2 package to connect to a PostgreSQL database.

In [ ]:
pip install psycopg2

In [ ]:
import psycopg2

conn = psycopg2.connect(
    host="hostname",
    database="databasename",
    user="username",
    password="password"
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM table_name")
results = cursor.fetchall()

In [3]:
## Ensure that you have the necessary drivers and client software installed 
# for your database system, especially for databases like Oracle or Microsoft SQL Server.

3. OracleDB: Use the cx_Oracle package to connect to an Oracle database.

In [ ]:
pip install cx_Oracle

In [ ]:
import cx_Oracle

conn = cx_Oracle.connect('username/password@hostname:port/ServiceName')
cursor = conn.cursor()
cursor.execute("SELECT * FROM table_name")
results = cursor.fetchall()

4. Microsoft SQL Server: Use the pyodbc or pymssql package to connect to a Microsoft SQL Server database.

In [ ]:
pip install pyodbc  # or pip install pymssql

In [ ]:
import pyodbc

conn = pyodbc.connect('DRIVER={ODBC Driver};SERVER=hostname;DATABASE=databasename;UID=username;PWD=password')
cursor = conn.cursor()
cursor.execute("SELECT * FROM table_name")
results = cursor.fetchall()

5. Sqlite:

In [4]:
import sqlite3
conn = sqlite3.connect('/Users/minseokoh/Desktop/04.Winter_break/02.SQL/database.sqlite')

tables = pd.read_sql("""SELECT name FROM sqlite_master WHERE type='table';""", conn)
print(tables)

NameError: name 'pd' is not defined