### MySQL connect, data analysis

In [ ]:
pip install mysql-connector-python

In [6]:
import pandas as pd
import numpy as np
import mysql.connector

In [18]:
conn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'dhalstjr11.',
    database = 'MYSQL'
)

In [19]:
query = "SELECT * FROM MERGGED_TABLE"

In [20]:
df = pd.read_sql(query, conn)

/var/folders/x6/29gj9fhd1rs_98l6pyr3bngw0000gn/T/ipykernel_67455/1168034203.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [21]:
df

  VIDEO_NAME  VIEW_CNT MAIN_ACT SUB_ACT  MAIN_AGE  SUB_AGE
0         바비       333     마고로비   디카프리오        35       50
1        아저씨       365       원빈      꼬맹        30       14
2       아저씨2      3633       원빈     꼬맹2        40       24